.logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4px;
    color: #ba3f3f !important;
}

.logo-name:hover{
    color: #e3d027 !important;
}

.logo-icon{
    height: 44px;
    width: 44px;
    margin-bottom: 1px;
    color: #ba3f3f;

}

.name-h1{
    font-size: 26px;
    padding-top: 8px;
    color: #ba3f3f;
}

.icon-nav{
    height: 26px;
    width: 26px;
}

.nav-container{
    width: 100vw;
}